name: Deploy Observable

on:
  push:
    branches: [main]
    paths: ['Docs/**']
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    # This applies to ALL run commands in this job
    defaults:
      run:
        working-directory: Docs
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          # Cache is looking in ./Docs now!
          cache: "pip"
      
      - name: Install dependencies
        run: pip install -r requirements.txt

      - uses: actions/setup-node@v4
        with:
          node-version: 22
      
      - name: Install npm dependencies
        run: npm ci
      
      - name: Build project
        run: npm run build
      
      - uses: actions/configure-pages@v4
      
      - uses: actions/upload-pages-artifact@v3
        with:
          # IMPORTANT: This path is relative to the original workspace,
          # not the working-directory
          path: Docs/dist
      
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4